*{  padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.fake-body{
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    min-height: 100vh;
    max-height: 100%;
    background-color: black;
    background-position: center;
    background-image: url("boolflix_img/1979.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}
.background-container{
    background-color: rgb(34, 34, 34);
    padding-bottom: 20px;
}
.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.logo{
    width: 300px;
    height: 100px;
    margin-left: 70px;
    cursor: pointer;
}
.logo>img{
    width: auto;
    height: 100%
}
    .search-bar{
        width: 300px;
        text-align: right;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: black;
        opacity: 100%;
    }

    .search-bar input{
        padding: 4px 10px;
        border-radius: 10px;
        }

    .search-bar input:focus-visible{
        outline: none;
    }
    .search-bar button{
        color: seashell;
        font-weight: lighter;
        background-color: #db202b;
        padding: 4px 10px;
        border-radius: 10px;
    }
    .search-bar button:active{
        color: gray;
    }

.title-search-res{
    padding-top: 15px;
    padding-bottom: 25px;
    font-weight:bolder;
    text-transform: uppercase;
    color: #db202b;
    display: flex;

}   .second_title{
    padding-top: 45px;
    }

.divTitle, span {
    padding-left: 40px;
    padding-right: 30px;
    font-size: 30px;
}

select {
    padding: 4px 10px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.329);
    background-color: rgb(34, 34, 34);
    color: white;
    font-size: 15px;
}



.title-search-res h1{
padding-left: 50px;
padding-bottom: 5px;
border-bottom: 1px solid rgba(255, 255, 255, 0.801)
}

.customScrollBar::-webkit-scrollbar {
    height: 10px;
  }
  .customScrollBar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(10, 10, 10, 0.87); 
    border-radius: 10px;
  }
  .customScrollBar::-webkit-scrollbar-thumb {
    background: #db202b;
    border-radius: 10px;
  }
  .customScrollBar::-webkit-scrollbar-thumb:hover {
    background: #db202b;
  }

.movie-container, .series-container{
    width: 100%;
    height: 600px;
    text-align: left;
    display: flex;
    overflow-x: scroll; 
}
    .element-card{
        margin-left: 2px;
        margin-right: 2px;
        height: 523px;
    }
    .info-box{
        opacity: 0%;
        position: absolute;
        width: 100%;
        height: 513px;
        overflow-y: scroll;
        padding: 20px;
        color: white; 
        border: 1px solid white;
        cursor: pointer;
        z-index: 1;
        background-color: #000000e0;
    }
    .info-box:hover{
        opacity: 100%;
    }

    .info-box::-webkit-scrollbar {
        width: 0;
      }

    .title-block{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .title-block h4:nth-child(2){
    margin-top: 10px;
    }
    .original-lang-block{
        display: flex;
        align-items: center;
        width: 100%;
    }
    .original-lang-block img{
    height: 30px;
    }
    .original-lang-block h4{
    margin-right: 7px;
    }
    .vote-block{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    }
    .stars-block{
        display: inline-block;
        font-size: 17px;
        color: yellow;
        margin-left: 5px;
    }

    .poster{
        width: 342px;
        height: 513px;
    }
    .poster img{
        width: 100%;
        height: 100%;
    }

    .poster-not-found{
        position: relative;
        width: 342px;
        height: 513px;
        color:white;
        background-color: rgb(17, 17, 17);
        opacity: 50%;
    }
    .poster-not-found>h3{
        position: relative;
        width: 100%;
        top: 50%;
        text-align: center;
        text-transform: uppercase;
        background-color: rgb(85, 88, 88);
    }
    .footer{
     position: relative;
     width: 100%;
     height: 100px;
     bottom: 0;
     background:transparent;

    }
    .copyright-box{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        bottom: 0;
        background-color: black;
   
    }

.details{
    width: 900px;
    min-height: 600px;
    max-height: 100%;
    padding: 20px 60px 20px 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 1px solid white;

    background-color: rgba(17, 17, 17, 0.973);
    color: white;
    z-index: 3;
    cursor: pointer;
    }

    .details>*{
        margin-bottom: 15px;
    }

    .genreSpan{
        text-decoration: underline;
        font-weight: 500;
        font-size: 18px;
        margin-right: 5px;
    }

    