*{  padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.fake-body{
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgb(136, 136, 136);
    z-index: -2;
}
.header{
    width: 100%;
    height: 130px;
    padding-top: 40px;
    background-color: rgb(136, 136, 136);
}
    .search-bar{
        text-align: right;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: black;
        opacity: 80%;
    }

    .search-bar input{
        padding: 4px 10px;
        border-radius: 10px;
        }
    .search-bar input:focus-visible{
        outline: none;
    }
    .search-bar button{
        color: seashell;
        font-weight: lighter;
        background-color: black;
        padding: 4px 10px;
        border-radius: 10px;
    }

    .search-bar button:active{
        color: gray;
    }

.title-search-res{
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-weight:bolder;
    text-transform: uppercase;
    color: white;
    background-color:rgb(136, 136, 136);
}

.movie-container, .series-container{
    width: 100%;
    text-align: left;
    display: flex;
    background-color: rgb(136, 136, 136);
    overflow-x: scroll; 
}

    .element-card{
        margin-left: 10px;
        margin-right: 10px;
    }

    .info-box{
        opacity: 0%;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 20px;
        color: white;  
        cursor: pointer;
        z-index: 1;
    }
    .info-box:hover{
        opacity: 100%;
    }
    .background-overlay{
        position: absolute;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        background-color: black;
        opacity: 70%;
        z-index: -1;
    }

    .title-block{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .title-block h4:nth-child(2){
    margin-top: 10px;
    }
    .original-lang-block{
        display: flex;
        align-items: center;

        width: 100%;
    }
    .original-lang-block img{
    height: 30px;
    }
    .original-lang-block h4{
    margin-right: 7px;
    }
    .vote-block{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    }
    .stars-block{
        display: inline-block;
        font-size: 20px;
        color: yellow;
        margin-left: 5px;
    }

    .poster{
        width: 342px;
        height: 513px;
    }
    .poster img{
        width: 100%;
        height: 100%;
    }

    .poster-not-found{
        position: relative;
        width: 342px;
        height: 513px;
        color:white;
        background-color: rgb(39, 38, 38);
        opacity: 50%;
    }
    .poster-not-found>h3{
        position: relative;
        width: 100%;
        top: 50%;
        text-align: center;
        text-transform: uppercase;
        background-color: rgb(85, 88, 88);
    }