<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="boolflix_style.css">
    <title>Boolflix</title>
</head>

<body>
<main id="app" class="main">

<!--header e barra ricerca-->
    <div class="header">
        <div class="search-bar">
            <input v-model="textToSearch" v-on:keyup.enter ="doSearch" type="text" placeholder="Search...">
            <button @click="doSearch">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>

<!--Lista film-->
    <div v-if="movieList != ''" class="title-search-res"><h1>Film</h1></div>
    <div class="movie-container"> 
        <li v-for="element in movieList" class="element-card">  
            <div class="info-box">  <!--Info e overlay-->

                        <div class="title-block"> 
                            <h4>Titolo: {{element.title}}</h4>
                            <h4 v-if="element.title != element.original_title">Titolo originale: {{element.original_title}}</h4>
                        </div>

                        <div v-if="element.original_language" class="original-lang-block" class="card">
                            <h4>Lingua originale</h4>
                            <img alt="" v-bind:src="element.original_language_2" alt="">
                        </div>
                        <div v-if="element.vote_average" class="vote-block" >
                                <h4>Voto :</h4>
                                <div v-for="value in element.vote_average_2" class="stars-block">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                         </div>
                         <div v-if="element.overview">
                            <h4>Panoramica: {{element.overview_2}}</h4>
                         </div>
                <div class="background-overlay"></div>
            </div>    <!--fine info, impostazione copertine------>
            <div class="poster-block">
                    <div v-if="element.poster_path"class="poster">
                        <img alt="" v-bind:src="element.poster_path_2" alt="">
                    </div>         
                    <div v-else class="poster-not-found">
                        <h3> Preview not available </h3>
                    </div>
            </div>
        </li>      
    </div>

<!--Lista serie-->
    <div v-if="movieList != ''" class="title-search-res"><h1>Serie</h1></div>
    <div class="series-container">
        <li v-for="element in tvSeriesList" class="element-card">  
            <div class="info-box">  <!--Info e overlay-->

                        <div class="title-block"> 
                            <h4>Titolo: {{element.title}}</h4>
                            <h4 v-if="element.title != element.original_title">Titolo originale: {{element.original_title}}</h4>
                        </div>

                        <div v-if="element.original_language" class="original-lang-block" class="card">
                            <h4>Lingua originale</h4>
                            <img alt="" v-bind:src="element.original_language_2" alt="">
                        </div>
                        <div v-if="element.vote_average" class="vote-block" >
                                <h4>Voto :</h4>
                                <div v-for="value in element.vote_average_2" class="stars-block">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                         </div>
                         <div v-if="element.overview">
                            <h4>Panoramica: {{element.overview_2}}</h4>
                         </div>
                <div class="background-overlay"></div>
            </div>     <!--fine info, impostazione copertine------>
            <div class="poster-block">
                    <div v-if="element.poster_path"class="poster">
                        <img alt="" v-bind:src="element.poster_path_2" alt="">
                    </div>         
                    <div v-else class="poster-not-found">
                        <h3> Preview not available </h3>
                    </div>
            </div>
        </li>        
    </div>
        
 </main>
 <script src="scriptBoolflix.js"></script>   
</body>
</html>




